html, body {
    font-family: sans-serif;
    overflow-x: hidden;
    margin:0px;
    padding:0px;
}
*{
    text-decoration: none;
}
.nav {
    position: fixed;
    z-index: 1000;
    top:0;
    right: 0;
    left:0;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);

}
.nav .links a {
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color:black;
} 
#header{
    box-sizing: border-box;
    height: 100vh;
    background-image: url("img/bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
#Dheader{
    box-sizing: border-box;
    height: 100vh;
    background-image: url("img/diet.png");
    background-position: center;
    background-size: cover;
    position: relative;}

.banner{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 0 10vw 0 10vw;
    height:100vh;
}
.bannerText{
    max-width: 350px;
    margin-top: 250px;
    line-height: 50px;
    text-align: center;
}
.bannerText h2{
    font-size: 4vw;
    margin:0;
}

.bannerText p{
    margin:6px;
    font-size:20px;
    opacity: 0.3px;
    line-height: 30px;
}
 .bannerText .btn{
    max-width: 120px;
    padding: 14px 20px 14px 20px;
    margin-top: 30px;
    background: #7e8c06;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
}
.btn a{
    font-size: 1.2vw;
    color:white;
    text-transform: uppercase;
}
/*about */

#about {
    margin-top: 20px;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
 }
 .left-col {
     flex-basis: 45%;
 }
 .left-col img{
     width: 100%;
     margin-left: 50px;
     margin-top: 10px;
 }
 .right-col{
     flex-basis: 50%;
     }
.aboutText{
    text-align: center;
    font-size: 3vw;
}
/*goal*/

#goal {
    padding: 20px 0;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
 }
 .g-left-col {
     flex-basis: 50%;
 }
 .goalText{
    text-align: center;
    font-size: 3vw;
}
 .g-right-col{
     flex-basis: 45%;
 }
 .g-right-col img{
    width: 100%;}

.bottom{
    width: 100%;
    background-size: cover;
    position: relative;
}

/*Footer*/
.footer{
    height: 50px;
    background-color: #7e8c06;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.footerText h2{
    top: -50px;
    font-size: 2.5vw ;
    color : #ffffff;
    position: relative;}

.rating {
    position: absolute;
    top: auto;
    transform: translate(-50% -50%) rotateY(180deg);
    display: flex;
}    
.rating input{
    display: none;
}
.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
    padding-left: 10px;
}
.rating label::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 35px;
    color: #1d1c1c;
}
.rating label ::after {
    content: '\f005' ;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    display: block;
    color:silver;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label:hover::after,
.rating input:checked~label::after,
.rating input:checked~label::after 
 {
    opacity: 0.8;
}


@media only screen and (max-width:600px){
    .nav{
        flex-direction:column ;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }
    .nav h4{
        font-size: 6wv;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .nav .links a{
     margin-right: 25px ;
     font-size: 12px;
     font-weight: 600;
    }
    .rating {
        position: absolute;
     
       display: flex;
}
.container .box {
    width: 180px;

}
.container {
    padding-top: 40px ;
    margin-left: -20px;
    margin-right: -20px;
}

}

/*Dietary part*/

#Dheader{
    box-sizing: border-box;
    height: 100vh;
    background-image: url("img/diet.png");
    background-position: center;
    background-size: cover;
    position: relative;}

    .DietText{
        max-width: 350px;
        margin-top: 270px;
        line-height: 50px;
        text-align: center;
        color: white;
        margin-left: 55%;
        font-size: 25px;}

/*Diet types*/
.container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 40px ;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px ;

} 

.container .box {
    position:relative;
    width: 350px;
    height: 300px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3px ;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.content a{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    background: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba (0, 0, 0, 0.3);
}
a:hover {
    transform: scale(1.1);
    transition: 0.8s;
}
.ratingD {
    position: absolute;
    top: 300%;
    transform: translate(-50% -50%) rotateY(180deg);
    display: flex;
}   
table{
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 20px;
}
th, td:first-child {
    font-weight: bold;
    background-color:rgb(248, 248, 56);
    padding: 15px 35px;}
td {
    background-color:lightgoldenrodyellow;
}
td, th {
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: white;
}
.tableText{
    text-align: center;
    font-size: 2vw;
}

/*ilnesses*/
.diabet {
    background-image: url(img/diabet1.jpg);
    box-sizing: border-box;
    height: 250px;
    margin-top: 20px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
opacity: 0.65;}

.obesity {
    background-image: url(img/obesity.jpg);
    box-sizing: border-box;
    height: 250px;
    margin-top: 20px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
opacity: 0.65;
}
.obText {
   margin-left: 30px;
   margin-top: 30px;
   margin-right: 20px;
   font-size: 18px;
}


.cardio {
        background-image: url(img/cardio.jpg);
        box-sizing: border-box;
        height: 250px;
        margin-top: 20px;
        padding: 20px;
        background-position: center;
        background-size: cover;
        position: relative;
    opacity: 0.65;
    }
.caText {
    margin-left: 30px;
   margin-top: 30px;
   margin-right: 20px;
   font-size: 18px;
}
.caText {
    font-size: 20px;
}
    .cancer {
        background-image: url(img/cancer.jpg);
        box-sizing: border-box;
        height: 250px;
        margin-top: 20px;
        padding: 20px;
        background-position: center;
        background-size: cover;
        position: relative;
    opacity: 0.65;
    }  
    .canText {
        margin-left: 30px;
       margin-top: 30px;
       margin-right: 20px;
       font-size: 18px;
    }   

.bone {
    background-image: url(img/bone.jpg);
        box-sizing: border-box;
        height: 250px;
        margin-top: 20px;
        padding: 20px;
        background-position: center;
        background-size: cover;
        position: relative;
    opacity: 0.65;
}    
.bText{
    margin-left: 30px;
       margin-top: 30px;
       margin-right: 20px;
       font-size: 18px;
}
.dental {
    background-image: url(img/dent.jpg);
        box-sizing: border-box;
        height: 250px;
        margin-top: 20px;
        padding: 20px;
        background-position: center;
        background-size: cover;
        position: relative;
    opacity: 0.65;
}    
.dText {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 18px;
}
.diText{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 18px; 
}
#tips {
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 25px;
}
.logo h3{
    color: #7e8c06;
}
